<form v-on:submit.prevent="guardarEnfermedades" v-on:reset="limpiarEnfermedades" id="frm-enfermedades">
    <div class="card text-white bg-success mb-3" style="max-width: 24rem;">
        <div class="card-header">
            AGREGAR ENFERMEDADES

            <button type="button" id="btn-close-enfermedades" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        RECETA
                    </div>
                    <div class="col">
                        <v-select v-model="enfermedad.receta" :options="recetas" placeholder="Seleccione una receta" />
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        NOMBRE DE ENF:
                    </div>
                    <div class="col">
                        <input type="text" v-model="enfermedad.nombre" placeholder="AAAAAAA" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        TIPO DE ENF:
                    </div>
                    <div class="col">
                        <input type="text" v-model="enfermedad.tipo" placeholder="AAAAAAA" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <input id="btnGuardarEnfermedades" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                        <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                        <input type="button" class="btn btn-outline-dark mostrar-buscar-enfermedades text-white" data-modulo="enfermedades" data-form="buscar-enfermedades" value="Buscar" >
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <div class="alert alert-success" role="alert">{{ enfermedad.msg }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/enfermedades/enfermedades.js"></script>