
body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
input, textarea{
    height: 24px;
    border: solid 1px rgb(158, 200, 255);
    border-radius: 5px;
}
textarea{
    height: auto;
}
input[type=submit], 
input[type=button]{
    background-color: rgb(74, 137, 255);
    color: #FFF;
    text-transform: uppercase;
    height: 30px;
    width: auto;
    font-weight: bolder;
}
input[type=submit]:hover, 
input[type=button]:hover{
    background-color: #FFF;
    color: blue;
}
input[type=text]:valid, 
textarea:valid,
input[type=date]:valid{
    background-color: rgb(156, 253, 177);
}
input[type=text]:invalid, 
textarea:invalid,
input[type=date]:invalid{
    background-color: rgb(255, 172, 172);
}