<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Nutrición</title>
        <link rel="stylesheet" href="../../public/Nutricion-master/css/estilos2.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous">

    </head>
</head>
<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="../../public/Nutricion-master/img/logo.png" alt="">
                </div>
                <div class="enlaces-header">
                    <a href="../../public/Nutricion-master/index.html">Inicio</a>
                    <a href="#">Nutricion</a>
                    <a href="#">Recetas</a>
                    <a href="#">Control</a>
                    <a href="#">Información</a>
                    <a href="../../private/modulos/cerrar.php">Cerrar sesion</a>
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
    </header>
<form v-on:submit.prevent="guardarReceta" data-accion="nuevo" data-idmateria='' method="post" id="frm-recetas"></form>
      <div class="card text-white bg-success mb-3" style="max-width: 24rem;">
          <div class="card-header">
              Recetas
          </div>
          <div class="card-body">
              <div class="row p-2">
                  <div class="col-4">
                      CODIGO
                  </div>
                  <div class="col-6">
                      <input type="text" v-model="receta.codigo" placeholder="AAAA000000" class="form-control">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-4">
                      Receta
                  </div>
                  <div class="col-8">
                      <input type="text" v-model="receta.receta" placeholder="AAA AAA" class="form-control">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-4">
                      Ingredientes
                  </div>
                  <div class="col-8">
                      <input type="text" v-model="receta.ingrediente" placeholder="AAA" class="form-control">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-4">
                      Informacion
                  </div>
                  <div class="col-8">
                      <input type="text" v-model="receta.informacion" placeholder="AAA" class="form-control">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-12 text-center">
                      <input id="btnGuardarReceta" type="submit" class="btn btn-outline-primary text-white"
                          value="Guardar">
                      <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                      <input type="button" class="btn btn-outline-success mostrar-buscar-recetas text-white"
                          data-modulo="recetas" data-form="buscar-recetas" value="Buscar">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-12 text-center">
                      <div class="alert alert-success" role="alert">
                          {{ receta.msg }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </form>
      <script src="public/Nutricion-master/recetas.js"></script>






    
</body>

</html>