<form method="post" id="frm-buscar-matriculas">
    <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="card-header">
            BUSQUEDA DE MATRICULA

            <button type="button" id="btn-close-buscar-matriculas" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-matriculas" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="3">
                            <input type="text" v-model="valor" v-on:keyup="buscarMatriculas" placeholder="codigo, nombre, dui o nit" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>PERIODO</th>
                        <th>ALUMNNO</th> 
                        <th>FECHA MATRICULA</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_matricula in mis_matriculas" :key="mi_matricula.idMatricula" v-on:click="modificarMatricula(mi_matricula)" >
                        <td>{{ mi_matricula.periodo.label }}</td>
                        <td>{{ mi_matricula.alumno.label }}</td>
                        <td>{{ mi_matricula.f }}</td>
                        <td>
                            <input v-on:click="eliminarMatricula(mi_matricula.idMatricula)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/matriculas/buscar-matriculas.js"></script>