<form method="post" id="frm-buscar-nutriciones">
    <div class="card text-white bg-success mb-3" style="max-width: 48rem;">
        <div class="card-header">
            BUSQUEDA DE NUTRICION

            <button type="button" id="btn-close-buscar-nutriciones" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-nutriciones" class="table-striped table-success table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="3">
                            <input type="text" v-model="valor" v-on:keyup="buscarNutriciones" placeholder="todo" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>Usuario</th>
                        <th>recetas</th> 
                        <th>Tiempo</th>
                        <th>FECHA de registro</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_nutricioness in mis_nutriciones" :key="mi_nutricioness.idNutricion" v-on:click="modificarNutricion(mi_nutricioness)" >
                        <td>{{ mi_nutricioness.usuario.label }}</td>
                        <td>{{ mi_nutricioness.receta.label }}</td>
                        <td>{{ mi_nutricioness.hora.label }}</td>
                        <td>{{ mi_nutricioness.f }}</td>
                        <td>
                            <input v-on:click="eliminarNutricion(mi_nutricioness.idNutricion)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="../../../public/vistas/nutriciones/buscar-nutriciones.js"></script>