.modulos{ 
    position: absolute;
}

.bg-secondary{
    background-image: url(../../image/bg4.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.v-select{
    background: white !important;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
        background-color: #f6f7f9;
        
    }

    h1 {
        margin: 0;
        font-size: 16px;
        line-height: 1;
      
    }

    button {
        color: inherit;
        background-color: transparent;
        border: 0;
        outline: 0 !important;
        cursor: pointer;
    }

    button.chatbox-open {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 52px;
        height: 52px;
        color: #fff;
        background-color: #1FDE82;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        margin: 16px;
    }

    button.chatbox-close {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 52px;
        height: 52px;
        color: #fff;
        background-color: #1FDE82;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        display: none;
        margin: 16px calc(2 * 16px + 52px) 16px 16px;
    }

    textarea {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        height: calc(16px + 16px / 2);
        padding: 0 calc(16px / 2);
        font-family: inherit;
        font-size: 16px;
        line-height: calc(16px + 16px / 2);
        color: #888;
        background-color: none;
        border: 0;
        outline: 0 !important;
        resize: none;
        overflow: hidden;
    }
   
    .container-scroll{
        height: 200px;
        width:  350px;
        color: #888;
        overflow-y:auto;
    }
    textarea::-webkit-input-placeholder {
        color: #888;
    }

    textarea::-moz-placeholder {
        color: #888;
    }

    textarea:-ms-input-placeholder {
        color: #888;
    }

    textarea::-ms-input-placeholder {
        color: #888;
    }

    textarea::placeholder {
        color: #888;
    }

    .chatbox-popup {
        display: -webkit-box;
        display: flex;
        position: absolute;
        box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        display: none;
        bottom: calc(2 * 16px + 52px);
        right: 16px;
        width: 377px;
        height: auto;
        background-color: #fff;
        border-radius: 16px;
    }
 
    .chatbox-popup .chatbox-popup__header {
        box-sizing: border-box;
        display: -webkit-box;
        display: flex;
        width: 100%;
        padding: 16px;
        color: #fff;
        background-color: #1FDE82;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-around;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }

    .chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
        margin-top: -32px;
        background-color: #1FDE82;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }

    .chatbox-popup .chatbox-popup__main {
        box-sizing: border-box;
        width: 100%;
        padding: calc(2 * 16px) 16px;
        line-height: calc(16px + 16px / 2);
        color: #888;
        text-align: center;
    }

    .chatbox-popup .chatbox-popup__footer {
        box-sizing: border-box;
        display: -webkit-box;
        display: flex;
        width: 100%;
        padding: 16px;
        border-top: 1px solid #ddd;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-around;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .chatbox-panel {
        display: -webkit-box;
        display: flex;
        position: absolute;
        box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        display: none;
        top: 0;
        right: 0;
        bottom: 0;
        width: 377px;
        background-color: #fff;
    }

    .chatbox-panel .chatbox-panel__header {
        box-sizing: border-box;
        display: -webkit-box;
        display: flex;
        width: 100%;
        padding: 16px;
        color: #fff;
        background-color: #1FDE82;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-around;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

    .chatbox-panel .chatbox-panel__main {
        box-sizing: border-box;
        width: 100%;
        padding: calc(2 * 16px) 16px;
        line-height: calc(16px + 16px / 2);
        color: #888;
        text-align: center;
        -webkit-box-flex: 1;
        flex: 1 1 auto;
    }

    .chatbox-panel .chatbox-panel__footer {
        box-sizing: border-box;
        display: -webkit-box;
        display: flex;
        width: 100%;
        padding: 16px;
        border-top: 1px solid #ddd;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-around;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }
    nav{
        background: #28a745;
        height: 95px;
        width: 100%;
    }
    label.logo{
        color: white;
        font-size: 35px;
        line-height: 50px;
        padding: 0 100px;
        font-weight: bold;
    }
   nav ul{
   float: right;
   margin-right: 20px;
}
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    nav ul li a{
        color: white;
        font-size: 13px;
        padding: 5px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }
    a.active,a:hover{
     background: #1FDE82;
     transition: .5s;
    }
    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
      cursor: pointer;
      display: none;
    }
    #check{
        display: none;
    }
    @media (max-width:1250px){
        label.logo{
            font-size: 30px;
            padding-left:40px ;
        }
        nav ul li a {
            font-size: 16px;
        }
    }
    @media (max-width:1220px){
        .checkbtn{
            display: block;
        }
        #barra{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #28a745;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        nav li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav #barra li a{
            font-size: 15px;
            height: 5px;
        }
          a:hover,a.active{
            background: none;
            color: #0082e6;
        }
        #check:checked ~ ul{
         left: 0;
      
        }
    }






    .meta .name {
        font-weight: 600;
    }

    .text{
        width:75%;display:flex;flex-direction:column;
    }
    .text > p:first-of-type{
        width:125%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
    }
    .text > p:last-of-type{
        width:100%;text-align:right;color:rgb(219, 109, 109);margin-bottom:-7px;margin-top:auto;
    }
    .text-l{
        float:left;padding-right:10px;
    }        
    .text-r{
        float:right;padding-left:10px;
    }
    .macro{
        margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
    }
    .msj-rta{
         background: #1FDE82;;
        margin: 5px  5px  5px  200px;
       
    }
    .msj{
        float:right; background:white;
       
    }
#ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:32px;
    display:flex;
    flex-direction: column;

}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:35px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color:  #1FDE82 transparent transparent transparent;           
}  