<form v-on:submit.prevent="guardarUsuario" data-accion="nuevo" data-idusuario='' id="frm-usuarios" method="post">
    <div class="card text-white bg-success mb-3" style="max-width: 43rem;">
        <div class="card-header">
            --------------------REGISTRAR ADULTOS-------------------

            <img src="https://img.icons8.com/ios-glyphs/30/000000/search.png" class=" mostrar-buscar-usuarios text-white" data-modulo="usuarios"
                 data-form="buscar-usuarios" >
        
            <button type="button" id="btn-close-usuarios" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            <div class="row p-2">
                <div class="col-4">
                    Nombre
                </div>
                <div class="col-8">
                    <input type="text" pattern="[a-zA-Z ]+" v-model="usuario.nombre" placeholder="AAA AAA"
                        class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Fecha de nacimiento
                </div>
                <div class="col-8">
                    <input type="date" v-model="usuario.edad"  min="1900-01-01" max="1970-01-01" placeholder="" class="form-control">
                    <div class="col-8">
                        <input type="text" v-model="usuario.naci" placeholder="" class="form-control" style="display:none"> 
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-4">
                    Peso
                </div>
                <div class="col-5">
                    <input type="number" v-model="usuario.inicial" placeholder="000" class="form-control">
                </div>
                <div class="col-3">
                    <select name="transporte" v-model="usuario.libras" class="form-control">
                        <option>Kilogramos</option>
                        <option>Libras</option>
                        </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Fecha Peso
                </div>
                <div class="col">
                    <input type="date" v-model="usuario.fechaini" class="form-control form-control-sm">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Sexo
                </div>
                <div class="col-8">
                    <select name="transporte" v-model="usuario.actual" class="form-control">

                        <option>Masculino</option>
                        
                        <option>Femenino</option>
                        
                        <option>Otro</option>
                        
                        </select>
                </div>
            </div>
            <div class="card-body">
                <div class="row p-2">
                    <div class="col-4">
                        Altura
                    </div>
                    <div class="col-8">
                        <input type="number" v-model="usuario.codigo" placeholder="cm" class="form-control">
                    </div>
                </div>
            <div class="row p-2">
                <div class="col-4">
                    Medicamento
                </div>
                <div class="col-8">
                    <v-select v-model="usuario.medicamento" :options="medicamentos" placeholder="Seleccione medicamento" />
                </div>
            </div>
             <div class="row p-2">
                 <div class="col-4">
                     Patología
                 </div>
                 <div class="col-8">
                     <input type="text" v-model="usuario.enfermedad" placeholder="Patología" class="form-control" list="ninguna">
                      <datalist id="ninguna">
                          <option value="Ninguna"></option>
                      </datalist>
                    </div>
             </div>
            <div class="row p-2">
                <div class="col-4">
                    Observación
                </div>
                <div class="col-8">
                    <input type="text" v-model="usuario.observacion" placeholder="Alergias a medicamento.etc" class="form-control" list="ninguna">
                </div>
            </div>
            <div class="row p-2" style="display: none;">
                <div class="col-4">
                    Fecha registro
                </div>
                <div class="col">
                    <input type="date" v-model="usuario.fechaac" class="form-control form-control-sm">
                </div>
            </div>
            <div class="row p-2" style="display: none;">
                <div class="col-4">
                    Fecha registro
                </div>
                <div class="col">
                    <input type="date" v-model="usuario.metabolismo" class="form-control form-control-sm">
                </div>
            </div>
            <div class="row p-2" style="display: none;">
                <div class="col-4">
                    Fecha registro
                </div>
                <div class="col">
                    <input type="date" v-model="usuario.pesoideal" class="form-control form-control-sm">
                </div>
            </div>
            <div class="row p-2" style="display: none;">
                <div class="col-4">
                    Fecha registro
                </div>
                <div class="col">
                    <input type="date" v-model="usuario.imc" class="form-control form-control-sm">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarUsuarios" type="submit" class="btn btn-primary text-white" value="Guardar">
                    <input type="reset" class="btn btn-warning text-white" value="Limpiar">
                    <a href="../../generar_repote_usuarios/index.php" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Descargar</a>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="../../../public/vistas/usuarios/usuarios.js"></script>