<form v-on:submit.prevent="guardarControles" v-on:reset="limpiarControles" id="frm-controles">
    <div class="card text-white bg-success mb-3" style="max-width: 24rem;">
        <div class="card-header">
           --------- AGREGAR CONTROLES---------


            <img src="https://img.icons8.com/small/30/000000/search.png" class=" mostrar-buscar-controles text-white"
                data-modulo="controles" data-form="buscar-controles" value="Buscar">
            <button type="button" id="btn-close-controles" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        Usuario
                    </div>
                    <div class="col">
                        <v-select v-model="control.usuario" :options="usuarios" placeholder="Seleccione un usuario" />
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        Enfermedad
                    </div>
                    <div class="col">
                        <input type="text" pattern="[a-zA-Z ]+" v-model="control.tipo" placeholder="AAAAAAA"
                            class="form-control" list="ninguna">
                    </div>
                </div>
            </div>
                <div class="row p-2">
                    <div class="col">
                        Medicamento 
                    </div>
                    <div class="col-8">
                        <v-select v-model="control.medicamento" :options="medicamentos" placeholder="Medicamento Resetado" />
                        </div>
                        <div class="col">
                            <input  id="botonde" type="button" class="btn btn-primary text-white" value="Otro">
                        </div>
                    </div>
                   
                </div>
                <div class="row row-cols-1 p-2">
                    <div class="row-col">
                        <div class="col">
                            Cantidad De Medicamentos
                        </div>
                        <div class="col-5"> 
                            <input type="number" v-model="control.cantidad" placeholder="AAAAAAA"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 p-2" id="mostrarocultar" style="display: none;">
                    <div class="row-col">
                        <div class="col">
                            Otro Medicamento
                        </div>
                        <div class="col">
                            <input type="text" v-model="control.otro" placeholder="AAAAAAA"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 p-2">
                    <div class="row-col">
                        <div class="col">
                            Observaciones
                        </div>
                        <div class="col">
                            <input type="text" v-model="control.observaciones" placeholder="AAAAAAA"
                                class="form-control" list="ninguna">
                                <datalist id="ninguna">
                                    <option value="Ninguna"></option>
                                </datalist>
                        </div>
                    </div>
                </div>
            <div class="row row-cols-1 p-2" style="display: none;">
                <div class="row-col">
                    <div class="col">
                        Fecha de control
                    </div>
                    <div class="col">
                        <input type="date" v-model="control.fecha" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        Proxima consulta
                    </div>
                    <div class="col">
                        <input type="date" v-model="control.siguiente" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <input id="btnGuardarControles" type="submit" class="btn btn-primary text-white" value="Guardar">
                        <input type="reset" class="btn btn-warning text-white" value="Limpiar">
                        
                       </div>
                     </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="../../../public/vistas/controles/controles.js"></script>