<form v-on:submit.prevent="guardarControles" v-on:reset="limpiarControles" id="frm-controles">
    <div class="card text-white bg-success mb-3" style="max-width: 24rem;">
        <div class="card-header">
            AGREGAR CONTROLES

            <button type="button" id="btn-close-controles" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        USUARIO:
                    </div>
                    <div class="col">
                        <v-select v-model="control.usuario" :options="usuarios" placeholder="Seleccione un usuario" />
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        ENFERMEDAD:
                    </div>
                    <div class="col">
                        <input type="text" v-model="control.tipo" placeholder="AAAAAAA" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        FECHA DE CONTROL:
                    </div>
                    <div class="col">
                        <input type="date" v-model="control.fecha" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <input id="btnGuardarControles" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                        <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                        <input type="button" class="btn btn-outline-dark mostrar-buscar-controles text-white" data-modulo="controles" data-form="buscar-controles" value="Buscar" >
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <div class="alert alert-success" role="alert">{{ control.msg }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="../../../public/vistas/controles/controles.js"></script>