#calcular {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #1FDE82;
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 1.5em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(31, 222, 130, .46),0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(31, 222, 130, .46),
    0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(31, 222, 130, .46),
    0px 9px 25px rgba(0, 0, 0, .7);
    margin: 50px auto;
	width: 150px;
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

#calcular:active {
    -webkit-box-shadow: 0px 3px 0px rgba(31, 222, 130, .46),
    0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(31, 222, 130, .46),
    0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(31, 222, 130, .46),
    0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}

.form {
    text-align: center;
}

#resultado_metabolismo, #resultado_pesoideal, #resultado_imc, #resultado_icc, #resultado_ict, #recomendacion_pesoideal,
#recomendacion_imc {
    text-align: center;
    color: white;
}

.imagen {
    width: 100%;
    height: 100%;
}

figure {
    margin-top: 1.5%;
}


/*---CSS para el dropdowm---*/

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}

.dropdown a{
    font-size: 0.875rem;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.93);
    backface-visibility: 80%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.site-header .main-navigation .dropdown { display: inline-block; padding: 30px 0; margin: 0; }
.site-header .main-navigation .dropdown a { display: inline-block; padding: 0 20px; line-height: 1; color: #9d9879; font-weight: 400; font-size: 14px; font-size: 0.875rem; border-bottom: 2px solid transparent; -webkit-transition: .3s ease; transition: .3s ease;}
.dropbtn{border-right: 1px solid #9d9879;}
.site-header .main-navigation .dropdown:last-child a { border-right: none; }
.site-header .main-navigation .dropdown.current-dropdown,
.site-header .main-navigation .dropdown:hover {
    color: #1FDE82;
    border-bottom: 2px solid #1FDE82;
}
.site-header .main-navigation .dropdown.current-dropdown a, .site-header .main-navigation .dropdown:hover a { color: #1FDE82; }
.mobile-navigation .menu .current-dropdown a { color: #1FDE82; }
.dropdown-content{z-index: 3;}

.dropmenuitem {
    color: black;
}

.dropmenuitem:hover, .dropmenuitem:hover a{
    color: #1FDE82 !important; 
    border-bottom: 2px solid #1FDE82; 
}

nav {
    width: 100%;
    height: 80px;
    background: #e9e4e6;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 80%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;

}

.nav .logo img {
    height: 100%;
    vertical-align: top;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
    color: #048998;
    text-decoration: none;
    margin-left: 20px;
}


.dropdown a{
    font-size: 0.875rem;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.93);
    backface-visibility: 80%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #1FDE82;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.site-header .main-navigation .dropdown { display: inline-block; padding: 30px 0; margin: 0; }
.site-header .main-navigation .dropdown a { display: inline-block; padding: 0 20px; line-height: 1; color: #9d9879; font-weight: 400; font-size: 14px; font-size: 0.875rem; border-bottom: 2px solid transparent; -webkit-transition: .3s ease; transition: .3s ease;}
.dropbtn{border-right: 1px solid #9d9879;}
.site-header .main-navigation .dropdown:last-child a { border-right: none; }
.site-header .main-navigation .dropdown.current-dropdown, .site-header .main-navigation .dropdown:hover { color: #1FDE82; border-bottom: 2px solid #1FDE82; }
.site-header .main-navigation .dropdown.current-dropdown a, .site-header .main-navigation .dropdown:hover a { color: #1FDE82; }
.mobile-navigation .menu .current-dropdown a { color: #1FDE82; }
.dropdown-content{z-index: 3;}

.dropmenuitem {
    color: black;
}

.dropmenuitem:hover, .dropmenuitem:hover a{
    color: #1FDE82 !important; 
    border-bottom: 2px solid #1FDE82; 
}


.hamburguer {
    width: 1px;
    height: 50px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer>i {
    font-size: 25px;
    line-height: 50px;
}

@media screen and (max-width:600px) {
    .titulo {
        font-size: 35px;
    }

    h1 {
        font-size: 40px;
    }

    .contenido-header {
        height: 650px;
    }

    .nav {
        padding: 0 10px;
    }

    .contenido-header>img {
        width: 200px;
    }

    .enlaces-header {
        position: fixed;
        background: #667db6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos {

        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);

    }

    .nav .enlaces-header a {
        color: #fff;
    }

    .hamburguer {
        display: block;
    }
   }