#calcular {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 1.5em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 50px auto;
	width: 150px;
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

#calcular:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.form {
    text-align: center;
}

#resultado_metabolismo, #resultado_pesoideal, #resultado_imc, #resultado_icc, #resultado_ict, #recomendacion_pesoideal,
#recomendacion_imc {
    text-align: center;
    color: white;
}

.imagen {
    width: 100%;
    height: 100%;
}

figure {
    margin-top: 1.5%;
}


/*---CSS para el dropdowm---*/

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}

.dropdown a{
    font-size: 0.875rem;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.93);
    backface-visibility: 80%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.site-header .main-navigation .dropdown { display: inline-block; padding: 30px 0; margin: 0; }
.site-header .main-navigation .dropdown a { display: inline-block; padding: 0 20px; line-height: 1; color: #9d9879; font-weight: 400; font-size: 14px; font-size: 0.875rem; border-bottom: 2px solid transparent; -webkit-transition: .3s ease; transition: .3s ease;}
.dropbtn{border-right: 1px solid #9d9879;}
.site-header .main-navigation .dropdown:last-child a { border-right: none; }
.site-header .main-navigation .dropdown.current-dropdown, .site-header .main-navigation .dropdown:hover { color: #f16a54; border-bottom: 2px solid #f16a54; }
.site-header .main-navigation .dropdown.current-dropdown a, .site-header .main-navigation .dropdown:hover a { color: #f16a54; }
.mobile-navigation .menu .current-dropdown a { color: #f16a54; }
.dropdown-content{z-index: 3;}

.dropmenuitem {
    color: black;
}

.dropmenuitem:hover, .dropmenuitem:hover a{
    color: #f16a54 !important; 
    border-bottom: 2px solid #f16a54; 
}