<form v-on:submit.prevent="guardarReceta" data-accion="nuevo" data-idreceta='' id="frm-recetas" method="post">
    <div class="card text-white bg-success mb-3" style="max-width: 24rem;">
        <div class="card-header">
           ----------- Agregar Receta-----------
        
            <img src="https://img.icons8.com/small/30/000000/search.png"  class=" mostrar-buscar-recetas text-white" data-modulo="recetas"
     data-form="buscar-recetas" value="Buscar">

            <button type="button" id="btn-close-recetas" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2" style="display: none;">
                <div class="col-4">
                    Código
                </div>
                <div class="col-8">
                    <input type="text" v-model="receta.codigo" placeholder="AAAA000000" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Receta
                </div>
                <div class="col-8">
                    <input type="text" pattern="[a-zA-Z ]+" v-model="receta.nombres" placeholder="AAA AAA"
                        class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Ingrediente
                </div>
                <div class="col-8">
                    <input type="text" v-model="receta.ingrediente" placeholder="AAA"
                        class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Info
                </div>
                <div class="col-8">
                    <input type="text" v-model="receta.informacion" placeholder="AAAAAAAA-AAAAAA" class="form-control">
                </div>
            </div>
            <div class="row p-2" style="display: none;">
                <div class="col-4">
                Fecha regist.
                </div>
                <div class="col-8">
                    <input type="date" v-model="receta.registro" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarRecetas" type="submit" class="btn btn-primary text-white" value="Guardar">
                    <input type="reset" class="btn btn-warning text-white" value="Limpiar">
                   
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="../../../public/vistas/recetas/recetas.js"></script>