<form method="post" id="frm-buscar-controles">
    <div class="card text-white bg-success mb-3" style="max-width: 48rem;">
        <div class="card-header">
            BUSQUEDA DE CONTROLES

            <button type="button" id="btn-close-buscar-controles" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-controls" class="table-striped table-success table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="3">
                            <input type="text" v-model="valor" v-on:keyup="buscarControles" placeholder="codigo, nombre, dui o nit" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>USUARIO</th>
                        <th>ENFERMEDAD</th> 
                        <th>FECHA DE CONTROL</th> 
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_control in mis_controles" :key="mi_control.idControl" v-on:click="modificarControl(mi_control)" >
                        <td>{{ mi_control.usuario.label }}</td>
                        <td>{{ mi_control.t }}</td>
                        <td>{{ mi_control.f }}</td>

                        <td>
                            <input v-on:click="eliminarControl(mi_control.idControl)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="../../../public/vistas/controles/buscar-controles.js"></script>